<%- partial('_partial/head') %>

<body class="loading">

    <div class="app-refresh" id="app-refresh">
        <div class="app-refresh-wrap" onclick="location.reload()">
            <label>已更新最新版本</label>
            <span>点击刷新</span>
        </div>
    </div>
    
    <script>
        if ('serviceWorker' in navigator) {
            if (navigator.serviceWorker.controller) {
                navigator.serviceWorker.addEventListener('controllerchange', function() {
                    showNotification();
                });
            }
    
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    
        function showNotification() {
            document.querySelector('meta[name=theme-color]').content = '#000';
            document.getElementById('app-refresh').className += ' app-refresh-show';
        }
    </script>
    
    <span id="config-title" style="display:none"><%= config.title %></span>
    <div id="loader"></div>
    <%- body %>
</body>
<%- partial('_partial/scripts', null, {cache: true}) %>
<%- partial('_partial/mathjax', null, {cache: true}) %>
<%- partial("_partial/google-analytics", {cache: true}) %>
</html>
